$headerColor: #f8b304;
$standartBackgroundColor: rgba(1, 1, 1, 0.5);
$lightBackgroundColor: rgba(190, 190, 190, 0.9);
$hoverBackgroundColor: #8787fc;
$standartFontColor: white;
$borderColor: #dad7d7;
$btnBackgroundColor: #8787fc;
$btnFontColor: white;