@use "./colors" as *;

@mixin commonBlock($direction:column, $justify: space-between, $align: center, $width: 100%) {
  position: relative;
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  width: $width;
  box-sizing: border-box;
}

@mixin commonBtn ($width:50%) {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: $width;
  font-size: 1.135em;
  font-weight: 600;
  line-height: 1.2;
  color: $btnFontColor;
  box-sizing: border-box;
  background-color: $btnBackgroundColor;
  border-radius: 5px;
  //border: 1px solid $borderColor;
  border: none;
  margin: 0;
  padding: 2.5%;
  cursor: pointer;
  transition: all 0.3s linear;

  &:hover {
    background-color: $btnFontColor;
    color: $btnBackgroundColor;
    outline: 1px solid $btnBackgroundColor;
  }

  &:disabled {
    cursor: default;
    background-color: $lightBackgroundColor;
  }

  &:disabled:hover {
    outline: none;
    color: $btnFontColor;
  }
}

@mixin commonInput($width: 100%) {
  position: relative;
  font-size: 1.135em;
  width: $width;
  line-height: 1.2;
  padding: 2.5%;
  border-radius: 5px;
  box-sizing: border-box;
  border: none;
  transition: all 0.3s linear;

  &:focus-visible {
    outline: 1px solid $btnBackgroundColor;
  }
}